@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  text-decoration: none;
  list-style: none;
  border: none;
  scroll-behavior: smooth;
}

/* buttons */

.primary-btn {
  background: #4f46e5;
  padding: 13px 20px;
  border-radius: 40px;
  cursor: pointer;
  color: white;
  font-weight: 700;
  transition: all 0.15s;
}

.primary-btn:hover {
  background: white;
  border: 1px solid #cbd5e1;

  color: #475569;
}

.secondary-btn {
  background: white;
  padding: 13px 20px;
  border-radius: 40px;
  border: 1px solid #cbd5e1;
  cursor: pointer;
  font-weight: 700;
  color: #475569;
}

.secondary-btn:hover {
  background: #4f46e5;
  color: white;
}

/* commons */
.flex {
  display: flex;
}
.container {
  padding-top: 96px;
  max-width: 80%;
  margin: 0 auto;
}
.section_headeing {
  background: #eef2ff;
  color: #4f46e5;
  padding: 6px 12px;
  border-radius: 20px;
  width: 189px;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}
/* nav section */

header {
  max-width: 80%;
  margin: 0 auto;
  padding: 16px 0;
}

.nav_container {
  align-items: center;
  justify-content: space-between;
}

/* log section */
.logo {
  position: relative;
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 8px;
}

.logo_bg {
  height: 2rem;
  width: 2rem;
  object-fit: cover;
  rotate: calc(180deg);
  border: 1px solid #4f46e5;
  border-radius: 45%;
}

.logo_text {
  position: absolute;
  top: 0.2rem;
  left: 0.6rem;
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
}

.logo_name {
  font-weight: 700;
  color: #1e293b;
}

/* nav_link */
.nav_links {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 32px;
}

.nav_links > li > a {
  color: #475569;
  font-weight: 700;
  transition: all 0.15s;
}

.nav_links > li > a:hover {
  color: #4f46e5;
}

/* nav buttons */
.nav_buttons {
  gap: 8px;
  align-items: center;
  justify-items: center;
}

/* hero section */
.hero_container {
  background-image: url("../public/hero_bg.jpg");
  background-repeat: no-repeat;

  overflow: hidden;
}

.hero_text {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}
.hero_tile {
  font-weight: 800;
  font-size: 60px;
  color: #1e293b;
  padding: 24px 0;
}
.hero_subtile {
  font-weight: 400;
  font-size: 18px;
  color: #475569;
  margin-bottom: 48px;
}

.donwlad_links {
  align-items: center;
  gap: 8px;
  justify-content: center;
}

.google,
.apple {
  width: 132px;
}

.hero_img_container {
  width: 1008px;
  height: 600px;
  position: relative;
  padding-top: 64px;
  padding-bottom: 120px;
}
.hero_img_container {
  width: 800px;
  height: 534px;
  border-radius: 20px;
  margin: -10px;
}
.hero_img1 {
  width: 100%;
  height: 100%;
  border-radius: 18px;
}

.hero_img2_container {
  width: 230px;
  height: 467px;
  position: absolute;
  top: 14rem;
  right: -11rem;
  border-radius: 30px;
  padding: 3px;
  background: #cbd5e1;
  filter: drop-shadow(0 0 0 rgb(80, 80, 80));
}

.hero_img2 {
  width: 100%;
  height: 100%;
  border-radius: 28px;
}

/* companies */

.compains {
  background: #f8fafc;
  padding-top: 64px;
  padding-bottom: 64px;
}
.compais_container {
  max-width: 80%;
  margin: 0 auto;
}
.company_logo {
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  row-gap: 32px;
}

.company_logo > img {
  padding: 16px 39px;
  width: 110px;
  object-fit: contain;
}

/* features */
.heading_text {
  width: 800px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 64px;
}

.heading_title {
  font-weight: 800;
  font-size: 36px;
  color: #1e293b;
  margin: 24px 0;
}
.heading_subtile {
  font-weight: 400;
  font-size: 20px;
  color: #475569;
}
.features_card {
  text-align: center;
  width: 384px;
  height: 214px;
}

.features_heding {
  font-size: 20px;
  font-weight: 700;
  color: #1e293b;
  margin: 20px 0;
}

.features_subHeading {
  font-weight: 400;
}

.features_container {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 32px;
  row-gap: 48px;
  margin-top: 64px;
}

/*  */
.achieve_container {
  background: #f8fafc;
  padding: 96px;
  text-align: center;
}

.achieve_container > div {
  width: 800px;
  margin: 0 auto;
}

.achieve_container > div > .icon > svg {
  background: #eef2ff;
  padding: 16px;
  border-radius: 21px;
}
